<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/home.css" />
  </head>
  <body>
    <div class="topnav">
        <a class="main" href="home.html">Home</a>
        <a href="index.html">Adicionar</a>
        <a href="sobre.html">Sobre os casos</a>
        <a href="contato.html">Adicionar contato</a>
        <a href="verContato.html">Visualizar contatos</a>
    </div>
    <img id= "covid-imagem"src="../assets/css/img/covid.jpg">
    <div class="container">
        <h1 id="hometitle">Casos de covid: Cajazeiras</h1>
        <a href="mapa.html"><h2 id="homesubtitle">Acompanhe a localização dos casos na sua cidade.</h2></a>
    </div>
    <footer>Projeto Banco de Dados II - Patrick Anderson, Allyson Oliveira e Milena Lins</footer>
  </body>
</html>