<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="home.css" />
  </head>
  <body>
    <div class="topnav">
        <a class="main" href="home.html">Home</a>
        <a href="index.html">Adicionar</a>
        <a href="sobre.html">Sobre os casos</a>
        <a href="mapa.html">Ver mapa</a>
    </div>
    <div class="container">
        <h1 id="hometitle">Casos de covid: Cajazeiras</h1>
        <h2 id="homesubtitle">Acompanhe a localização dos casos na sua cidade.</h2>
    </div>
    <footer>Projeto Banco de Dados II - Patrick Anderson, Allyson Oliveira</footer>
  </body>
</html>