<!DOCTYPE html>
<html>
  <head>
    <title>Cadastro do paciente</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
    <script src="../assets/scripts/mapa.js"></script>
  </head>
  <body>
    <div id="map"></div>

    <div id="container">
        <div class="topnav">
            <a class="main" href="home.html">Home</a>
            <a href="index.html">Adicionar</a>
            <a href="sobre.html">Sobre os casos</a>
            <a href="contato.html">Adicionar contato</a>
            <a href="verContato.html">Visualizar contatos</a>        
        </div>
        <form action="/pagina-processa-dados-do-form" method="post" id="form">
            <div id="formcontent">
                <label for="name">Nome:</label>
                <input type="text" id="nome" />                
                <label for="cpf">CPF:</label>
                <input type="text" id="cpf" />                
                <label for="endereco">Endereço:</label>
                <input type="text" id="endereco" />
                <label for="informacoes">Informações:</label>
                <input type="text" id="informacoes" />
            </div>
            <div>
                <button id="submit" type="reset" onclick="salvar()">Salvar</button>
            </div>
        </form>
        <footer>Projeto Banco de Dados II - Patrick Anderson, Allyson Oliveira e Milena Lins</footer>
    </div>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap&libraries=&v=weekly"
      async
    ></script>
  </body>
</html>