<!DOCTYPE html>
<html>
  <head>
    <title>Mapa</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="../assets/css/map.css" />
    <script src="../assets/scripts/mapa.js"></script>
  </head>
  <body>
    <div id="map"></div>

    <div id="container">
        <div class="topnav">
            <a class="main" href="home.html">Home</a>
            <a href="index.html">Adicionar</a>
            <a href="sobre.html">Sobre os casos</a>
            <a href="contato.html">Adicionar contato</a>
            <a href="verContato.html">Visualizar contatos</a>        
        </div>
        
        <footer>Projeto Banco de Dados II - Patrick Anderson, Allyson Oliveira e Milena Lins</footer>
    </div>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap&libraries=&v=weekly"
      async
    ></script>
  </body>
</html>