<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
  <script src="../assets/scripts/informacoes.js"></script>
  <title>Mais informações</title>
</head>
<body>
  <div id="container">    
    <div class="topnav">
        <a class="main" href="home.html">Home</a>
        <a href="index.html">Adicionar</a>
        <a href="sobre.html">Sobre os casos</a>
        <a href="contato.html">Adicionar contato</a>
        <a href="verContato.html">Visualizar contatos</a>
    </div>
    <form action="/pagina-buscar-pacientes" method="GET" id="form">
      <div id="formcontentsobre">
        <h3 id= "subtitle" >Ver situação do paciente</h3>
        <label for="cpf">CPF:</label>
        <input type="text" id="cpf1" />        
      </div>
      <div>
        <button id="submitsobre" type="reset" onclick="search()">Buscar</button>
      </div>
    </form>

    <form action="/pagina-atualizar-pacientes" method="POST" id="form">
      <div id="formcontentsobre">
      <h3 id= "subtitle" >Atualizar situação do paciente</h3>
        <label for="cpf">CPF:</label>
        <input type="text" id="cpf2" />
        <label for="cpf">Nova situação:</label>
        <input type="text" id="informacoes" />
      </div>
      <div>
        <button id="submitsobre" type="reset" onclick="update()">Atualizar</button>
      </div>
    </form>

    <form action="/pagina-apagar-pacientes" method="DELETE" id="form">
      <div id="formcontentsobre">
        <h3 id= "subtitle" >Apagar paciente</h3>
        <label for="cpf">CPF:</label>
        <input type="text" id="cpf3" />        
      </div>
      <div>
        <button id="submitsobre" type="reset" onclick="del()">Apagar informações</button>
      </div>
    </form>
    <p>d</p>
    <p>d</p>
  </div>
</body>
<footer>Projeto Banco de Dados II - Patrick Anderson, Allyson Oliveira e Milena Lins</footer> 
</html>